.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.required::after{
  content : " *";
  color: red;
}
#custom-checkbox:checked:after{
 filter: hue-rotate(140deg);
}
.header{
  margin: 2rem;
  text-align: left
}
.inputContainer{
 border-radius: 8px;
 display: grid;
 grid-template-columns: auto auto;
 padding: 10px;
 float: left ;
 border:1px solid black;
 width: 20rem;
 margin: 1rem;

}
.inputContainer1{
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  float: left ;
  border:1px solid black;
  width: 14rem;

}
.FirstColumn{
  width:100%;
  margin: 3rem; margin-top:8rem; margin-left:10rem; border-radius: 8rem;
}
.inputField{
  border-radius: 8px;
  width : 15rem;
  height: 2.5rem;
  border: none
}
.third{
  margin-left: 2rem;
  margin-top: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.phoneInput{
  width: 6rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
